.mod {
    font-size: 150%;
}

.attachment {
    vertical-align: bottom;
}

.comment {
    margin-bottom: 8px;
    min-height: 30px;
    position: relative;
}

.comment .avatar {
	left: 0;
    position: absolute;
    width: 100px;
}

.comment .content {
    padding-left: 60px;
}

.comment .name {
    font-weight: bold;
}

span.statusnew {
    background-color: #FFE047;
}

span.statusdenied {
	background-color: #AFFF44
}

span.statusapproved {
    background-color: #AFFF44
}

span.statusreopened {
	background-color: #AFFF44
}

span.statuscancel {
	background-color: #AFFF44
}

.mform fieldset div {
    margin-left: 0px;
}

.mform fieldset div.fgroup {
    margin-top: 10px;
    margin-left: 16%;
    margin-bottom: 10px;
}

.mform fieldset div .comment {
    margin-bottom: 8px;
    min-height: 30px;
    position: relative;
}