.local_extension .mod {
    font-size: 150%;
}

.local_extension .attachment {
    vertical-align: bottom;
}

.local_extension .comment {
    margin-bottom: 8px;
    min-height: 30px;
    position: relative;
}

.local_extension .comment .avatar {
    left: 0;
    position: absolute;
    width: 100px;
}

.local_extension .comment .content {
    padding-left: 60px;
}

.local_extension .comment .name {
    font-weight: bold;
}

.local_extension .comment .useridnumber {
    font-style: oblique;
}

.local_extension span.statusinternal {
    background-color: #bc57d9;
}

.local_extension span.statusnew {
    background-color: #39cccc;
}

.local_extension span.statusdenied {
    background-color: #ff4136;
}

.local_extension span.statusapproved {
    background-color: #2ecc40;
}

.local_extension span.statusreopened {
    background-color: #ff851b;
}

.local_extension span.statuscancel {
    background-color: #0074d9;
}

.local_extension .mform .fitem_actionbuttons {
    margin-bottom: 0;
}

.local_extension .mform .fstatic {
    margin-top: 0;
}

.local_extension .mform fieldset div {
    margin-left: 0;
}

.local_extension .mform fieldset div.fgroup {
    margin-bottom: 10px;
    margin-top: 10px;
}

.local_extension .mform fieldset .comments > div.comment {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 30px;
    padding: 2px;
    position: relative;
}

.local_extension .mform fieldset .comments > div.comment > div.avatar {
    margin-left: 2px;
}

.local_extension .mform fieldset .comments > div.comment > div.avatar img {
    border-radius: 5px;
}

.local_extension table tr.clearrow td {
    background-color: inherit;
    border: 1px none;
}

.local_extension div .statusbadge {
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 80px;
}

.local_extension div .manageruleitem {
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 5px;
    width: 400px;
}

.local_extension div .coursesearch {
    height: 43px;
    margin-top: 0;
}

.local_extension div .lastmodby {
    text-align: center;
}

.local_extension .controls select {
    max-width: 130px;
    min-width: 130px;
}

.local_extension .label {
    border-radius: .25em;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .3em .6em .3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.local_extension .policy {
    margin-bottom: 30px;
}

.local_extension_status .mform fieldset div.fitemtitle {
    width: 0;
}

.local_extension_status .mform fieldset div.felement {
    margin-left: 0;
    width: auto;
}

.local_extension_status .mform fieldset div.felement.ffilemanager {
    width: 700px;
}

.local_extension_status .mform fieldset div.felement.ftextarea textarea {
    width: 100%;
}

.local_extension_status .statusheader {
    font-weight: bold;
}

.local_extension_status .statusblock {
    margin-bottom: 20px;
}

.local_extension_title {
    margin-bottom: 20px;
}

.local_extension_title > .mod {
    line-height: 30px;
}

.mform > .content {
    line-height: 30px;
}

.content > p > .mod {
    line-height: 30px;
    margin-top: 30px;
}

.extension_category {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 15px;
}

.content {
    margin-top: 30px;
}
.local_extension_option_buttons {
    float: right;
}

.local_extension_coordinators {
    margin-top: 15px;
}

hr {
    border: none;
    height: 2px;
    background-color: #0074d9;
}