.local_extension .mod {
    font-size: 150%;
}

.local_extension .attachment {
    vertical-align: bottom;
}

.local_extension .comment {
    margin-bottom: 8px;
    min-height: 30px;
    position: relative;
}

.local_extension .comment .avatar {
    left: 0;
    position: absolute;
    width: 100px;
}

.local_extension .comment .content {
    padding-left: 60px;
}

.local_extension .comment .name {
    font-weight: bold;
}

.local_extension span.statusnew {
    background-color: #fff801;
}

.local_extension span.statusdenied {
    background-color: #ff224f
}

.local_extension span.statusapproved {
    background-color: #AFFF44
}

.local_extension span.statusreopened {
    background-color: #fff800
}

.local_extension span.statuscancel {
    background-color: #00f0ff
}

.local_extension .mform fieldset div {
    margin-left: 0;
}

.local_extension .mform fieldset div.fgroup {
    margin-bottom: 10px;
    margin-top: 10px;
}

.local_extension .mform fieldset div .comment {
    margin-bottom: 8px;
    min-height: 30px;
    position: relative;
}

.local_extension table tr.clearrow td {
    background-color: inherit;
    border: 1px none;
}

.local_extension div .manageruleitem {
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 5px;
    width: 400px;
}

.local_extension div .coursesearch {
    margin-top: 5px;
}

.local_extension div .lastmodby {
    text-align: center;
}

.local_extension .controls select {
    max-width: 100px;
    min-width: 100px;
}

.local_extension .label {
    border-radius: .25em;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .3em .6em .3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
